@model dCore.MultiLanguage.Models.Language

@{
    ViewData["Title"] = "Nova Língua";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Languages" asp-action="Index">Línguas</a></li>
}

<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Geral</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Name">Nome</label>
                                <input asp-for="Name" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-label-on-top">
                                <label for="Code">Código</label>
                                <input asp-for="Code" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-label-on-top">
                                <label for="CountryCode">Código de país</label>
                                <input asp-for="CountryCode" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="text-align: center;">
                            @if (!string.IsNullOrEmpty(Model?.FlagUrl))
                            {
                                <img style="max-height: 300px; max-width: 50%;" src="@Model.FlagUrl" />
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="FlagUrl">URL para imagem de bandeira</label>
                                <input asp-for="FlagUrl" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success btn-sm float-right ml-2"><i class="far fa-save"></i> Gravar</button>
            <a asp-controller="Languages" asp-action="Index" class="btn btn-outline-info btn-sm float-right ml-2"><i class="fas fa-undo-alt"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            SetActiveMenu('menu-languages', 'menu-configuration');
        });
    </script>
}