@model AMRent.Data.Models.Database.Testimonial

@{
    ViewData["Title"] = "Novo Testemunho";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Testimonials" asp-action="Index">Testemunhos</a></li>
}

<form asp-action="Create">
    <div class="row">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="col-md-12">
                <div class="card card-danger callout callout-danger">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Geral</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group form-group-label-on-top">
                                <label for="AuthorName">Nome do Autor</label>
                                <input asp-for="AuthorName" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-label-on-top">
                                <label for="Score">Pontuação (0-5)</label>
                                <input asp-for="Score" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Texto</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        @for (int i = 0; i < ViewBag.Languages.Count; i++)
                        {
                            int languageId = ViewBag.Languages[i].Id;
                            var currentTranslation = Model?.Translations?.FirstOrDefault(x => x.LanguageId == languageId);
                            <input type="hidden" name="Translations[@i].LanguageId" value="@languageId" />
                            <div class="col-sm-12">
                                <div class="form-group form-group-label-on-top">
                                    <label for="Translations[@i].Text">@ViewBag.Languages[i].Name</label>
                                    <input name="Translations[@i].Text" class="form-control form-control-sm" value="@(currentTranslation?.Text ?? "")" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success btn-sm float-right ml-2"><i class="far fa-save"></i> Gravar</button>
            <a asp-controller="Testimonials" asp-action="Index" class="btn btn-outline-info btn-sm float-right ml-2"><i class="fas fa-undo-alt"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            SetActiveMenu('menu-testimonials', 'menu-content');
        });
    </script>
}