@{
    ViewData["Title"] = "Datas de Temporada";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Seasons" asp-action="Index">Datas de Temporada</a></li>
}

<div class="row mb-2">
    <div class="col-sm-12">
        <a class="btn btn-outline-success btn-sm float-right ml-2" asp-controller="Seasons" asp-action="Create"><i class="fas fa-plus"></i> Nova</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-success card-outline">
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var deleteUrl = '';
            $('#datatable').DataTable({
                lengthMenu: [50, 100, 250, 500],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Seasons/Get',
                    method: 'Post'
                },
                columnDefs: [
                    { title: 'Tipo de Temporada', targets: 0 },
                    { title: 'Data de começo', targets: 1 },
                    { title: 'Data de fim', targets: 2 },
                    {
                        targets: 3, sortable: false, searchable: false, render: function (data, type, row) {
                            var result = '';
                            var seasonEndDate = new Date(row.endDateUtc);
                            var today = new Date();
                            if (seasonEndDate > today) {
                                result += '<a class="btn btn-info btn-xs btn-xs-square" href="/Seasons/Edit/' + data + '"><i class="fas fa-edit"></i></a>';
                            }

                            return result;
                        }
                    },
                ],
                columns: [
                    { data: 'seasonCategory' },
                    { data: 'startDateUtc' },
                    { data: 'endDateUtc' },
                    { data: 'id' },
                ],
                language: dataTablesLanguage
            });


            SetActiveMenu('menu-seasons', 'menu-renting');
        });
    </script>
}
