@{
    ViewData["Title"] = "Segmentos de veículos";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="CarCategories" asp-action="Index">Segmentos de veículos</a></li>
}

<div class="row mb-2">
    <div class="col-sm-12">
        <a class="btn btn-outline-success btn-sm float-right ml-2" asp-controller="CarSegments" asp-action="Create"><i class="fas fa-plus"></i> Novo</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-success card-outline">
            <div class="card-body">
                <table id="datatable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var deleteUrl = '';
            $('#datatable').DataTable({
                lengthMenu: [50, 100, 250, 500],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/CarSegments/Get',
                    method: 'Post'
                },
                columnDefs: [
                    { title: 'Código', targets: 0 },
                    { title: 'Nome', targets: 1 },
                    { title: 'Assentos', targets: 2 },
                    { title: 'Combustível', targets: 3 },
                    { title: 'Transmissão', targets: 4 },
                    { title: 'Visível', targets: 5 },
                    {
                        targets: 6, sortable: false, searchable: false, render: function (data, type, row) {
                            var result = '';
                            result += '<a class="btn btn-info btn-xs btn-xs-square" href="/CarSegments/Edit/' + data + '"><i class="fas fa-edit"></i></a>';
                            if (row.isActive) {
                                result += '<a class="btn btn-danger btn-xs btn-xs-square ml-2" href="/CarSegments/Deactivate/' + data + '"><i class="fas fa-eye-slash"></i></a>';
                            }
                            else {
                                result += '<a class="btn btn-success btn-xs btn-xs-square ml-2" href="/CarSegments/Activate/' + data + '"><i class="fas fa-eye"></i></a>';
                            }
                            return result;
                        }
                    },
                ],
                columns: [
                    { data: 'code' },
                    { data: 'name' },
                    { data: 'seats' },
                    { data: 'fuel' },
                    { data: 'gearbox' },
                    { data: 'isActive' },
                    { data: 'id' },
                    { data: 'hasReservations', visible: false }
                ],
                language: dataTablesLanguage
            });


            SetActiveMenu('menu-car-segments', 'menu-renting');
        });
    </script>
}