@model AMRent.Data.Models.Database.TeamMember

@{
    ViewData["Title"] = "Novo Membro";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="TeamMembers" asp-action="Index">Membros</a></li>
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="col-md-12">
                <div class="card card-danger callout callout-danger">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        }
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Imagem (416px x 534px)</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6" style="text-align: center;">
                            @if (!string.IsNullOrEmpty(Model?.ImagePath))
                            {
                                <img style="max-height: 300px; max-width: 50%;" src="@Model.ImagePath" />
                            }
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="ImageFile">Upload</label>
                                <input type="file" name="ImageFile" class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Geral</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Name">Nome</label>
                                <input asp-for="Name" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Email">Email</label>
                                <input asp-for="Email" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Telephone">Telefone</label>
                                <input asp-for="Telephone" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Profissão</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        @for (int i = 0; i < ViewBag.Languages.Count; i++)
                        {
                            int languageId = ViewBag.Languages[i].Id;
                            var currentTranslation = Model?.Translations?.FirstOrDefault(x => x.LanguageId == languageId);
                            <input type="hidden" name="Translations[@i].LanguageId" value="@languageId" />
                            <div class="col-sm-12">
                                <div class="form-group form-group-label-on-top">
                                    <label for="Translations[@i].Job">@ViewBag.Languages[i].Name</label>
                                    <input name="Translations[@i].Job" class="form-control form-control-sm" value="@(currentTranslation?.Job ?? "")" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success btn-sm float-right ml-2"><i class="far fa-save"></i> Gravar</button>
            <a asp-controller="TeamMembers" asp-action="Index" class="btn btn-outline-info btn-sm float-right ml-2"><i class="fas fa-undo-alt"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            SetActiveMenu('menu-team-members', 'menu-amrent');
        });
    </script>
}