@inject dCore.MultiLanguage.Providers.TranslationProvider TranslationProvider
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AMRent.Website.Models.ForgotPassword
@{
    Layout = "_CleanLayout";
    int languageId = HttpContextAccessor.HttpContext.Session.GetInt32("SelectedLanguage") ?? (int)AMRent.Data.Enums.Languages.Portuguese;
    ViewData["Title"] = $"{TranslationProvider.GetTranslation(languageId, "PasswordEsquecida.Titulo")}";
}

<div class="login-wrapper">
    <div class="loginbox">
        <div class="login-auth">
            <div class="login-auth-wrap">
                <h1>@TranslationProvider.GetTranslation(languageId, "PasswordEsquecida.Titulo")</h1>
                <p class="account-subtitle">@TranslationProvider.GetTranslation(languageId, "PasswordEsquecida.Instrucoes")</p>
                <form asp-controller="Account" asp-action="ForgotPassword" class="mt-5">
                    <div class="form-group">
                        <label class="form-label" for="EmailAddress">@TranslationProvider.GetTranslation(languageId, "PasswordEsquecida.Email") <span class="text-danger">*</span></label>
                        <input type="email" asp-for="EmailAddress" class="form-control">
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button type="submit" class="btn btn-outline-light w-100 btn-size">@TranslationProvider.GetTranslation(languageId, "PasswordEsquecida.Botao")</button>
                </form>
            </div>
        </div>
    </div>
</div>