@model AMRent.Data.Models.Database.SocialNetwork

@{
    ViewData["Title"] = "Nova Rede Social";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="SocialNetworks" asp-action="Index">Redes Sociais</a></li>
}

<form asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success card-outline">
                <div class="card-header">
                    <h3 class="card-title">Geral</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="Name">Nome</label>
                                <input asp-for="Name" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-label-on-top">
                                <label for="FontAwesomeIconCode">Código de Ícone FontAwesome</label>
                                <input asp-for="FontAwesomeIconCode" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-label-on-top">
                                <label for="Url">Url</label>
                                <input asp-for="Url" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success btn-sm float-right ml-2"><i class="far fa-save"></i> Gravar</button>
            <a asp-controller="SocialNetworks" asp-action="Index" class="btn btn-outline-info btn-sm float-right ml-2"><i class="fas fa-undo-alt"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            SetActiveMenu('menu-social-networks', 'menu-amrent');
        });
    </script>
}